[Unit]
Description=SearXNG with Podman
After=network-online.target

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=0

ExecStart=/usr/bin/podman run --replace --name searxng -p 8888:8080 -v "%h/searxng/config/:/etc/searxng/" -v "%h/searxng/data/:/var/cache/searxng/" docker.io/searxng/searxng:latest

ExecStop=/usr/bin/podman stop -t 10 searxng

[Install]
WantedBy=default.target
