[submodule ".config/zsh/plugins/.config/zsh/plugins/fsh"]
	path = .config/zsh/plugins/.config/zsh/plugins/fsh
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule ".config/zsh/plugins/fsh"]
	path = .config/zsh/plugins/fsh
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
