* {
    all:                    unset;
    background-image:       none;
    transition:             400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

window {
    background:             rgba(0, 0, 0, 0.5);
}

button {
    font-family:            JetBrainsMono Nerd Font, monospace;
    font-size:              18px;
    border-radius:          2rem;
    border-color:           #372800;
    color:                  #FFDCF5;
    background-color:       rgba(42, 30, 29, 0.8);
    border-style:           solid;
    border-width:           2px;
    background-position:    center;
    background-repeat:      no-repeat;
    background-size:        25%;
    transition:             transform 0.15s cubic-bezier(0.55, 0.0, 0.28, 1.682),
                            background-color 0.15s ease-in,
                            color 0.15s linear;
}

button:focus,
button:active,
button:hover {
    background-size:        30%;
    background-color:       rgba(255, 150, 215, 0.85);
    color:                  transparent;
    transition:             all 0.1s cubic-bezier(0.55, 0.0, 0.28, 1.682),
                            background-color 0.1s ease-in,
                            color 0.1s linear;
}

#shutdown {
    border-bottom:          4px solid #FF5A5A;
    background-image:       image(url("./icons/shutdown.png"));
}
#shutdown:focus,
#shutdown:active,
#shutdown:hover {
    border-bottom:          none;
    background-color:       #FF5A5A;
    background-image:       image(url("./icons/shutdown-hovered.png"));
}

#suspend {
    border-bottom:          4px solid #FFF532;
    background-image:       image(url("./icons/suspend.png"));
}
#suspend:focus,
#suspend:active,
#suspend:hover {
    border-bottom:          none;
    background-color:       #FFF532;
    background-image:       image(url("./icons/suspend-hovered.png"));
}

#hibernate {
    border-bottom:          4px solid #64DCFF;
    background-image:       image(url("./icons/hibernate.png"));
}
#hibernate:focus,
#hibernate:active,
#hibernate:hover {
    border-bottom:          none;
    background-color:       #64DCFF;
    background-image:       image(url("./icons/hibernate-hovered.png"));
}

#logout {
    border-bottom:          4px solid #D764FF;
    background-image:       image(url("./icons/logout.png"));

}
#logout:focus,
#logout:active,
#logout:hover {
    border-bottom:          none;
    background-color:       #D764FF;
    background-image:       image(url("./icons/logout-hovered.png"));
}

#reboot {
    border-bottom:          4px solid #78FF64;
    background-image:       image(url("./icons/reboot.png"));
}
#reboot:focus,
#reboot:active,
#reboot:hover {
    border-bottom:          none;
    background-color:       #78FF64;
    background-image:       image(url("./icons/reboot-hovered.png"));
}

#lock {
    border-bottom:          4px solid #FFAF46;
    background-image:       image(url("./icons/lock.png"));
}
#lock:focus,
#lock:active,
#lock:hover {
    border-bottom:          none;
    background-color:       #FFAF46;
    background-image:       image(url("./icons/lock-hovered.png"));
}
