[mgr]
prepend_keymap = [
  ### Basic operations ###
  { on = "<Esc>",           run = "quit",                        desc = "Quit the process" },
  { on = "q",               run = "quit",                        desc = "Quit the process" },
  { on = "<C-z>",           run = "suspend",                     desc = "Suspend the process" },
  { on = "Q",               run = "quit --no-cwd-file",          desc = "Quit without outputting cwd-file" },
  { on = "X",               run = "escape",                      desc = "Exit visual mode, clear selection, or cancel search" },
  # Help menu
  { on = "<F1>",            run = "help",                        desc = "Open help menu" },
  { on = "?",               run = "help",                        desc = "Open help menu" },
  { on = "`",               run = "help",                        desc = "Open help menu" },
  # Task manager
  { on = "T",               run = "show",                        desc = "Show task manager" },
  { on = "w",               run = "show",                        desc = "Show task manager" },

  ### Navigation ###
  { on = "h",               run = "leave",                       desc = "Back to the parent directory" },
  { on = "j",               run = "arrow next",                  desc = "Next file" },
  { on = "k",               run = "arrow prev",                  desc = "Previous file" },
  { on = "l",               run = "enter",                       desc = "Enter the child directory" },

  { on = "<Left>",          run = "leave",                       desc = "Back to the parent directory" },
  { on = "<Down>",          run = "arrow next",                  desc = "Next file" },
  { on = "<Up>",            run = "arrow prev",                  desc = "Previous file" },
  { on = "<Right>",         run = "enter",                       desc = "Enter the child directory" },

  { on = "H",               run = "back",                        desc = "Back to previous directory" },
  { on = "L",               run = "forward",                     desc = "Forward to next directory" },
  { on = "J",               run = "arrow bot",                   desc = "Go to bottom" },
  { on = "K",               run = "arrow top",                   desc = "Go to top" },

  ### Tab operations ###
  # Tab create and close
  { on = "<C-t>",           run = "tab_create",                  desc = "Create a new tab at ~" },
  { on = "t",               run = "tab_create --current",        desc = "Create a new tab at CWD" },
  { on = "<C-w>",           run = "tab_close",                   desc = "Close current tab" },
  # Tab switch
  { on = "<C-1>",           run = "tab_switch 0",                desc = "Switch to tab 1" },
  { on = "<C-2>",           run = "tab_switch 1",                desc = "Switch to tab 2" },
  { on = "<C-3>",           run = "tab_switch 2",                desc = "Switch to tab 3" },
  { on = "<C-4>",           run = "tab_switch 3",                desc = "Switch to tab 4" },
  { on = "<C-5>",           run = "tab_switch 4",                desc = "Switch to tab 5" },
  { on = "<C-6>",           run = "tab_switch 5",                desc = "Switch to tab 6" },
  { on = "<C-7>",           run = "tab_switch 6",                desc = "Switch to tab 7" },
  { on = "<C-8>",           run = "tab_switch 7",                desc = "Switch to tab 8" },
  { on = "<C-9>",           run = "tab_switch 8",                desc = "Switch to tab 9" },
  { on = "<C-0>",           run = "tab_switch 9",                desc = "Switch to tab 10" },

  ### File operations ###
  # Open
  { on = "o",               run = "open",                        desc = "Open selected files" },
  { on = "O",               run = "open --interactive",          desc = "Open selected files interactively" },
  { on = "<Enter",          run = "open --interactive",          desc = "Open selected files interactively" },
  # Spot
  { on = "<Tab>",           run = "spot",                        desc = "Spot hovered file" },
  # Toggle
  { on = "<Space>",         run = ["toggle", "arrow next"],      desc = "Toggle the current selection state - pointer move backward" },
  { on = "<C-Space>",       run = ["arrow prev", "toggle"],      desc = "Toggle the current selection state - pointer move upward" },
  # Yank - Unyank
  { on = "y",               run = "yank",                        desc = "Yank selected file(s) (copy)" },
  { on = "x",               run = "unyank",                      desc = "Cancel the yank status" },
  { on = "Y",               run = "unyank",                      desc = "Cancel the yank status" },
  { on = "<C-a>",           run = "toggle_all",                  desc = "Select/Deselect all files" },
  { on = "<C-c>",           run = "yank",                        desc = "Yank selected file(s) (copy)" },
  { on = "<C-x>",           run = "yank --cut",                  desc = "Yank selected file(s) (cut)" },
  { on = "<C-v>",           run = "paste",                       desc = "Paste yanked file(s)" },
  { on = "<C-V>",           run = "paste --force",               desc = "Paste yanked file(s) (overwrite if the destination exists)" },
  { on = "<A-v>",           run = "paste --force",               desc = "Paste yanked file(s) (overwrite if the destination exists)" },
  # { on = "p",               run = "paste",                       desc = "Paste yanked file(s)" },
  # { on = "P",               run = "paste --force",               desc = "Paste yanked file(s) (overwrite if the destination exists)" },
  # Trash - Delete
  { on = "d",               run = "remove",                      desc = "Trash selected file(s)" },
  { on = "D",               run = "remove --permanently",        desc = "Delete selected file(s) permanently" },
  { on = "<C-d>",           run = "remove",                      desc = "Trash selected file(s)" },
  { on = "<C-D>",           run = "remove --permanently",        desc = "Delete selected file(s) permanently" },
  { on = "<Delete>",        run = "remove",                      desc = "Trash selected file(s)" },
  # Rename
  { on = "<F2>",            run = "rename --cursor=before_ext",  desc = "Rename selected file(s)" },
  { on = "<C-d>",           run = "rename --cursor=before_ext",  desc = "Rename selected file(s)" },
  # Link
  { on = "-",               run = "link",                        desc = "Symlink the absolute path of yanked file(s)" },
  { on = "_",               run = "link --relative",             desc = "Symlink the relative path of yanked file(s)" },
  { on = "<C-->",           run = "hardlink",                    desc = "Hardlink yanked file(s)" },
  # Create
  { on = "<C-n>",           run = "create",                      desc = "Create a new file (ends with / for directory)" },

  ### Shell ###
  { on = ";",               run = "shell --interactive",         desc = "Run a shell command" },
  { on = ":",               run = "shell --interactive --block", desc = "Run a shell command (block)" },

  ### Search ###
  { on = "<C-f>",           run = "search --via=fd",             desc = "Search files by name (via fd)" },
  { on = "<A-f>",           run = "search --via=rg",             desc = "Search files by content (via ripgrep)" },
  { on = "<C-s>",           run = "escape --search",             desc = "Cancel the ongoing search" },
  { on = "<C-Left>",        run = "find --smart --previous",     desc = "Find previous browsed file" },
  { on = "<C-Right>",       run = "find --smart --next",         desc = "Find forward browsed file" },

  ### Directory navigation ###
  { on = "/",               run = "cd --interactive",            desc = "Jump interactively" },
  { on = "<Home>",          run = "cd ~",                        desc = "Go to ~" },

  { on = ["g", "g"],        run = "arrow top",                   desc = "Go to top" },
  { on = ["g", "G"],        run = "arrow bot",                   desc = "Go to bottom" },
  { on = ["g", "h"],        run = "cd ~",                        desc = "Go to home directory" },
  { on = ["g", "d"],        run = "cd ~/Downloads",              desc = "Go to ~/Downloads" },
  { on = ["g", "c"],        run = "cd ~/.config",                desc = "Go to ~/.config" },
  { on = ["g", "<Enter>"],  run = "cd --interactive",            desc = "Jump interactively" },
  { on = ["g", "f"],        run = "follow",                      desc = "Follow hovered symlink" },

  ### Page navigation ###
  { on = "<C-PageUp>",      run = "arrow -100%",                 desc = "Move cursor up one page" },
  { on = "<C-PageDown>",    run = "arrow 100%",                  desc = "Move cursor down one page" },
  { on = "<S-PageUp>",      run = "arrow -50%",                  desc = "Move cursor up half page" },
  { on = "<S-PageDown>",    run = "arrow 50%",                   desc = "Move cursor down half page" },
  { on = "<PageUp>",        run = "arrow top",                   desc = "Move cursor to top" },
  { on = "<PageDown>",      run = "arrow bot",                   desc = "Move cursor to bottom" },
  { on = "<C-k>",           run = "arrow -50%",                  desc = "Move cursor up half page" },
  { on = "<C-j>",           run = "arrow 50%",                   desc = "Move cursor down half page" },

  ### Mode switching ###
  { on = "s",               run = "visual_mode",                 desc = "Enter visual mode (selection)" },
  { on = "u",               run = "visual_mode --unset",         desc = "Enter visual mode (unset)" },
  { on = "X",               run = "escape",                      desc = "Exit visual mode, clear selection, or cancel search" },
]
